{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<!-- Register form -->

<div class="container text-center">
  <h1 class="text-primary mb-4">Create Account</h1>
  <div class="mx-auto form-container">
    <form action="{{ url_for("auth.register") }}" method="post" accept-charset="utf-8">
      <p class="text-muted"><small>Fields marked with asterisk (*) are required</small></p>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address*</label>
        <input autofocus type="text" class="form-control" id="email" name="email" value="{{ request.form["email"] }}">
        {% if errors["email"] %}
        <p class="text-danger mt-1">{{ errors["email"] }}</p>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password*</label>
        <input type="password" class="form-control" id="password" name="password"
          value="{{ request.form["password"] }}">
        {% if errors["password"] %}
        <p class="text-danger mt-1">{{ errors["password"] }}</p>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="confirmation" class="form-label">Repeat*</label>
        <input type="password" class="form-control" id="confirmation" name="confirmation">
        {% if errors["confirmation"] %}
        <p class="text-danger mt-1">{{ errors["confirmation"] }}</p>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="full_name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="full_name" name="full_name" value="{{ request.form["full_name"] }}">
      </div>
      <div class="mb-3">
        <label for="short_name" class="form-label">Short Name*</label>
        <input type="text" class="form-control" id="short_name" name="short_name"
          value="{{ request.form["short_name"] }}">
        {% if errors["short_name"] %}
        <p class="text-danger mt-1">{{ errors["short_name"] }}</p>
        {% endif %}
      </div>
      <div class="d-flex d-md-block ">
        <button type="submit" class="btn btn-primary flex-grow-1">Register</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
