{% extends "layout.html" %}

{% block title %}
Join Room
{% endblock %}

{% block main %}

<!-- Join room form -->
<div class="card create-room-container mx-auto p-2">
  <div class="card-body">
    <h1 class="h2 card-title text-primary mb-4">Join Room <i class="mx-2 fa-solid fa-person-shelter"></i></h1>
    <form action="{{ url_for("chat.join_room") }}" method="post" accept-charset="utf-8">
      <div class="row mb-3">
        <label for="room_name" class="col-sm-3 col-form-label">Room Name</label>
        <div class="col-sm-9">
          <input autofocus type="text" class="form-control" id="room_name" name="room_name"
            value="{{ request.form["room_name"] }}">
        </div>
      </div>

      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>

      <div class="d-flex d-md-block ">
        <button type="submit" class="btn btn-primary flex-grow-1">Join</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
