/* CSS Variables */
:root {
  /* Colors for brand */
  --brand-color: #ff8533;
}

/* IMPORT FONTS */

/* Fonts downloaded from: https://google-webfonts-helper.herokuapp.com/fonts/poppins */

/* poppins-300 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/poppins/poppins-v19-latin-300.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-300.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-300.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-300.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-300.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-300.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-300italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 300;
  src: url("fonts/poppins/poppins-v19-latin-300italic.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-300italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-300italic.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-300italic.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-300italic.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-300italic.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/poppins/poppins-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-regular.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-regular.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-regular.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 400;
  src: url("fonts/poppins/poppins-v19-latin-italic.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-italic.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-italic.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-italic.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-italic.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/poppins/poppins-v19-latin-700.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-700.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-700.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-700.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-700italic - latin */
@font-face {
  font-family: Poppins;
  font-style: italic;
  font-weight: 700;
  src: url("fonts/poppins/poppins-v19-latin-700italic.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("fonts/poppins/poppins-v19-latin-700italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/poppins/poppins-v19-latin-700italic.woff2") format("woff2"),
    url("fonts/poppins/poppins-v19-latin-700italic.woff") format("woff"),
    url("fonts/poppins/poppins-v19-latin-700italic.ttf") format("truetype"),
    url("fonts/poppins/poppins-v19-latin-700italic.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* Set global font-family */
* {
  font-family: Poppins, sans-serif;
}

nav .navbar-brand {
  font-size: xx-large;
}

/* layout.html */

/* auth/register.html */
.form-container {
  text-align: left;
  max-width: 400px;
}

/* chat/create_room.html */
.create-room-container {
  max-width: 800px;
}

/* chat/live_chat.html */
.message-container {
  height: min(500px);
}

.message-info,
.message-text {
  font-size: 0.9rem;
}

/* dialog arow for messages
   Inspired from: https://codepen.io/ompmega/pen/qByYQ d */
.dialog-box {
  position: relative;
}

.dialog-box .arrow {
  display: inline-block;
  width: 12px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  float: left;
  bottom: 3px;
  left: -10px;
}

.dialog-box .arrow .inner {
  width: 0;
  height: 0;
  border-right: 20px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 2px;
}

.dialog-box .arrow .outer {
  width: 0;
  height: 0;
  border-right: 20px solid #dee2e6;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
